body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}


/*Global*/
.container{
	width:  70%;
	margin: auto;
	overflow: hidden;
}
header ul{
	margin:  0;
	padding: 0;

}


.button_1{
	height: 38px;
	background: #FFB81C;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}
.dark{
	padding: 15px;
	background: #354248;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;

}


/* Header*/
header{
	background: #003594;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #FFB81C 3px solid;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}


header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}

header .highlight, header .current a{
	color: #FFB81C;
	font-weight: bold;
}

header a:hover{
	color: #cccccc;
	font-weight: bold;
}


/* Showcase */
#showcase{
	min-height: 400px;
	background:  #f4f4f4;
	text-align: center;
	color: #003594;
}


#showcase h1{
	margin-top: 100px;
	font-size: 30px;
	margin-bottom: 0px;
}


#showcase p, #fundinfo p{
	font-size: 20px;
	color: #000000;
	text-align: left;
}

.description{
	line-height: 1;

}
/*fund information*/
#fundinfo h2{
	color:#003594;
	text-align: center;
}

#fundinfo a{
	color: #003594;
	font-weight: bold;
	text-decoration: none;
}

#fundinfo a:hover{
	color: #0761d7;
	font-weight: bold;
}


/*Newsletter*/

#newsletter{
	padding:  15px;
	color: #ffffff;
	background: #003594;
}

#newsletter h1{
	float: left;
}

#newsletter form{
	float: right;
	margin-top: 3px;

}

#newsletter input[type='email']{
	padding: 4px;
	height: 25px;
	width: 250px;
}

/* Boxes */

#boxes{
	margin-top: 20px;
}

#boxes1 .box{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;

}
#boxes2 .box{
	text-align: center;
	display: block;

}

#boxes1 .box img{
	width: 100px;
}

#boxes1 .box img#pitt{
	width: 300px;
}


#boxes1 .box img#canlii{
	width: 200px;
}
#boxes2 .box img#montreal{
	width: 250px;

}

/*Sidebar*/
aside#sidebar{
	float: right;
	width: 28%;
	margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
	width: 90%;
	padding: 5px;
}


/*main-col*/
article#main-col{
	float: left;
	width: 68%;
}
article#main-col .page-title{
	font-size: 30px;
}

.paper a, .people a{
	color:#000000;
	text-decoration: none;
}
.paper a:hover{
	color: #000000;
	font-weight: bold;
}
.people a:hover{
	color:#333232;
}

/* Services*/
ul#services li{
	list-style: none;
	padding: 20px;
	border: #cccccc solid 1px;
	margin-bottom: 5px;
	background: #e6e6e6;
}

footer{
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #003594;
	text-align: center;
}


/* Media Queries */
@media(max-width: 768px){
	header #branding,
	header nav,
	header nav li,
	#newsletter h1,
	#newsletter form,
	#boxes .box,
	article#main-col,
	aside#sidebar
	{
		float: none;
		text-align: center;
		width: 100%;
	}

	header{
		padding-bottom: 20px;
	}

	#showcase h1{
		margin-top: 40px;
	}

	#newsletter button, .quote button{
		display: block;
		width: 100%;
	}

	#newsletter form input[type='email'], .quote input, .quote textarea{
		width: 100%;
		margin-bottom: 5px;

	}

}